<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>carlikebot_ros2_control/CarlikeBotSystemHardware</plugin>
        <param name="rear_left_wheel_name">rear_left_wheel_joint</param>
        <param name="rear_right_wheel_name">rear_right_wheel_joint</param>
        <param name="front_left_steering_name">front_left_steering_joint</param>
        <param name="front_right_steering_name">front_right_steering_joint</param>

        <param name="loop_rate">15</param>
        <param name="device">device</param>
        <param name="baud_rate">57600</param>
        <param name="timeout_ms">1000</param>
        <param name="enc_counts_per_rev">100</param>
      </hardware>
      <joint name="${prefix}virtual_front_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}virtual_rear_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>